.mainWrap{width:100%; float:left;} 
.inner_wrap{max-width:960px; margin:0 auto;}
.inner_wrap .wrap_inner{width:98%; padding:0 1%; margin-top:50px; float:left;}
.part_lft{float:left; width:68%;}
.part_ri8{float:right; width:25%;}
.blog_wrap{width:100%; float:left; margin-bottom:50px;}
.blog_wrap figure.bl_img{width:37%; float:left;}
.blog_wrap figure.bl_img img{width:100%;}
.blog_wrap .blg_cnt{width:60%; float:right;}
ul.blgAthr{display:block; width:100%; float:left;}
ul.blgAthr li{list-style:none; float:left; margin:0 10px 0 0;}
ul.blgAthr li a{color:#737373; text-decoration:none; line-height:normal;}
ul.blgAthr li a:hover{color:#238FB7;}
.blogicon1, .blogicon2, .blogicon3 { background:url(../images/blogicon.jpg) no-repeat; display: inline-block; height: 14px; padding-right: 5px;width: 18px;}
.blogicon2 { background-position: -30px 0;}
.blogicon3 { background-position: -58px 2px;}
.blog_des{width:100%; float:left; margin:10px 0 25px 0; font-size:14px; text-align:justify; color:#9b9b9b; line-height:20px;}
.bl_dis_a{text-decoration:none; color:#7f7f7f; font-weight:bold;}
h2.head, h2.head a{padding:0 0 28px 0; margin:0; color:#5d5d5d; font-size:24px; font-weight:normal;}
.paging-navigation{width:100%; float:left; min-height: unset;}
.paging-navigation .screen-reader-text{display:none;}
.paging-navigation a, .paging-navigation span.current{color:#f45959; text-decoration:none; padding:3px 6px; border:1px solid #f45959; border-radius:2px; margin:0 6px 0 0;}
.paging-navigation a:hover, .paging-navigation span.current{background:#f45959; color:#fff;}
.paging-navigation a.dis{color:#d9d9d9; border:1px solid #d9d9d9; background:none;}
.blog_wrap a:hover{color:#F45959}
.part_ri8 h1.widget-title{width:100%; float:left; font-size:18px; color:#5d5d5d; font-weight:normal;}
.part_ri8 aside > ul{width:100%; float:left; margin:10px 0 20px  0;}
.part_ri8 aside > ul > li{margin-bottom:5px; width:100%; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; background:url(../images/li_bg.jpg) no-repeat left 6px; padding: 0 0 0 17px;}
.part_ri8 aside > ul > li a:hover{color:#f45959;}
/** inner **/
.fullBnnr{width:100%; margin-bottom:20px;}
.fullBnnr img{width:100%;}
.blog_wrap .inner_cont{width:100%; float:left; margin-top:20px;}
.inner_cont .blog_des{width:100%;}

