body { min-width: 980px;}


.dropcap {behavior:url(js/PIE.htc); position:relative;}


#contact-form ._placeholder.focused {filter: alpha(opacity=40);}
#contact-form ._placeholder {filter: alpha(opacity=99);}

.block-4 i + h2 { letter-spacing: -1px;}
blockquote { letter-spacing: -1px;}
