/*css*/

@import "../css/reset.css";
 @import "../css/skeleton.css";
 @import url(//fonts.googleapis.com/css?family=Roboto:400,300,700);
 @import url(//fonts.googleapis.com/css?family=Damion);
html, body { background: #585858 font: 14px/24px Arial, sans-serif; color: #9e9e9e; min-width: 300px;}
* { -webkit-text-size-adjust: none;}
.bg-1 { background: #fbfbfb; tom: 74px;}
.bg-1.v1 { padding: 10px 0px 5px;}
.bord-1 { position: relative; tom: 17px;}
.bord-1:after { position: absolute; content: ""; bottom: 0; left: 10px; right: 10px; border-bottom: 1px solid #f1f1f1;}
a { color: inherit; text-decoration: none;}
a:hover { text-decoration: none;}
a[href^="tel:"] { color: inherit; text-decoration: none;}
.a-hov { transition: all 0.4s ease;}
.a-hov:hover { color: #f45959;}
ul li a { transition: all 0.4s ease;}
h1, h2, h3, h4, h5, h6 { color: #5d5d5d; font-family: 'Roboto', sans-serif;}
h1 {}
h2 { font-size: 25px; line-height: 26px; tom: 20px; padding-top: 82px;}
h3 {}
h4 {}
h5 {}
.title-1 { font-size: 55px; line-height: 55px; font-family: 'Roboto', sans-serif; font-weight: 300; color: #5d5d5d; padding-top: 84px; letter-spacing: -3px; tom: 29px;}
.text-1 { font-size: 10px; line-height: 10px; color: #d1d1d1;}
.text-2 { font-size: 13px; line-height: 22px; color: #5d5d5d;}
.text-3 {}
.color-1 {}
.color-2 {}
h2.v1 { padding-top: 50px;}
h2 + img { margin-top: 7px;}
.link { display: inline-block; vertical-align: middle; transition: all 0.4s ease; font-family: Arial, sans-serif; font-size: 10px; line-height: 10px; color: #3d3d3d; text-transform: uppercase; margin-top: 40px;}
.link:hover { color: #f45959;}
div.link { display: block;}
div.link + div.link { margin-top: 85px;}
.link.v1 { display: inline;}
.list li { font-family: Arial, sans-serif; font-size: 13px; line-height: 15px; color: #cccccc; padding-left: 25px; background: url(../images/icon-1.png) 0 0 no-repeat; margin-top: 11px;}
.list li + li { margin-top: 15px;}
.list li a {}
.list li a:hover { color: #f45959;}
.list-1 li { font-family: Arial, sans-serif; font-size: 10px; line-height: 24px; font-weight: bold; color: #fff; display: inline; text-transform: uppercase;}
.list-1 li a { display: inline-block; margin-right: 10px;}
.list-1 li a:hover, .list-1 li a.current { color: #f45959;}
p + .list { margin-top: -10px;}
/*auxiliary*/



.img-ind { float: left; margin-right: 19px; margin-top: 3px;}
.wrapper { width: 100%; position: relative;}
.extra-wrap { overflow: hidden;}
.grid_inside { margin: 0 -10px;}
.aligncenter { text-align: center !important;}
.alignleft { text-align: left !important;}
.it { font-style: italic; display: inline-block;}
.fleft { float: left;}
.fright { float: right;}
.h-underline:hover { text-decoration: underline;}
.underline { text-decoration: underline;}
.upp { text-transform: uppercase;}
.transition { transition: all 0.4s ease;}
.clearfix {
*zoom: 1;}
.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0;}
.clearfix:after { clear: both;}
.pad-left { padding-left: 10px;}
p { tom: 22px;}
.img-bot { tom: 24px;}
.img-ind + div > h2 { padding-top: 0; width: 80%;}
.w2 { width: 89%;}
/************Header************/

header { background: #fff; tom: 50px;}
.page-1 { tom: 0;}
h1 { float: left;}
h1 a { display: block; text-align: center; font-family: 'Damion', cursive; color: #ffffff; font-size: 50px; line-height: 50px; font-weight: 400; position: relative; z-index: 103;}
h1 span { color: #ff9191;}
/*h1 a:after {
 position: absolute;
 content: "";
 background: url(../images/bg-1.png) 0 0 no-repeat;
 width: 12px;
 height: 12px;
 bottom: -12px;
 left: 0;
}*/

h2 a:hover, .blogLinks li a:hover { color: #f45959;}
h2 a, .blogLinks li a { transition: all 0.4s ease;}
div.phone { float: left; margin-top: 124px; font-size: 10px; line-height: 12px; color: #535353; text-align: center; width: 148px;}
div.phone i { color: #e7e7e7;}
form.search { color: #3d3d3d; position: relative; margin-top: 42px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
form.search input { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; border: 1px solid #efefef; padding: 8px 0px 7px 10px; color: #c3c3c3; height: 33px; font: 13px/18px Arial, sans-serif; -webkit-appearance: none;}
form.search a { position: absolute; right: 0; top: 6px; font-size: 10px; font-weight: bold; right: 10px; color: #3d3d3d; cursor:pointer;}
.camera_wrap { height: 624px;}
.camera_prev, .camera_next, .camera_commands { width: 33px !important; height: 42px !important; background: #fbfbfb; transition: all .4s ease;}
.camera_prev { right: 347px; left: auto;}
.camera_next { right: 314px; left: auto;}
.camera_prev, .camera_next { top: 136px;}
.slider .camera_azure_skin .camera_prev > span, .slider .camera_azure_skin .camera_next > span { width: 100% !important; height: 100% !important;}
.slider .camera_prev > span { background: url(../images/arrow-1.png) 16px center no-repeat;}
.slider .camera_next > span { background: url(../images/arrow-2.png) 5px center no-repeat;}
.camera_prev:hover, .camera_next:hover { background: #f45959;}
.slider .camera_caption > div { background: none; font-size: 14px; line-height: 22px; color: #c3c3c3;}
.s-text-1 { font-family: 'Roboto', sans-serif; font-size: 75px; line-height: 75px; color: #5d5d5d; font-weight: 300; letter-spacing: -6px; tom: 16px;}
.camera_caption { width: 43%; right: 0; top: 167px; left: auto;}
.s-btn { display: inline-block; font-family: 'Roboto', sans-serif !important; font-weight: bold !important; font-size: 16px !important; line-height: auto !important; color: #fff; background: #6CBFDF !important; padding: 14px 23px !important; margin-top: 30px !important; transition: all .4s ease;}
.s-btn:hover { background: #5d5d5d !important;}
/************Content***********/



.content { background: #fff; tom: 99px;}
.box-1 { margin-top: 58px;}
.box-1 .link { margin-top: 34px;}
.box-1 i { font-size: 50px; line-height: 50px; color: #e7e7e7;}
.box-1 i.icon-envelope-alt, .box-1 i.icon-group { font-size: 40px;}
.box-1 h2 { padding-top: 35px; tom: 31px;}
#newsletter1 { position: relative; margin-top: 7px;}
#newsletter1 input { width: 100%; color: #c3c3c3; font-size: 10px; background: #fbfbfb; line-height: 16px; border: 1px solid #e7e7e7; display: inline-block; text-shadow: none; border-radius: 0; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 33px; padding-left: 10px; padding: 8px 0 7px 10px; -webkit-appearance: none;}
#newsletter1 a { position: absolute; right: 10px; top: 0px; width: 12px; bottom: 0; height: 33px; background: url(../images/arrow-3.png) center center no-repeat;}
#newsletter1 label { display: block; min-height: 30px; margin-bottom: 0; float: left; width: 100%;}
#newsletter1 fieldset { width: 100%; float: left;}
#newsletter1 .error { position: absolute; display: block; overflow: hidden; height: 0px; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
#newsletter1 .success { width: 100%; border-radius: 0; padding: 0; text-align: center; position: absolute; z-index: 10; top: 0; background: #fff; border: 1px solid #e7e7e7;}
#newsletter1 label.invalid .error { height: 19px;}
blockquote { margin-top: 93px; background: #f45959; padding: 53px 26px 53px 40px; position: relative; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 25px; line-height: 30px; margin-bottom: 23px;}
blockquote:after { position: absolute; content: ""; background: url(../images/bg-1.png) 0 0 no-repeat; width: 12px; height: 12px; bottom: -12px; left: 0;}
.block-2 { margin-top: 14px;}
.box-2 { margin-top: 37px;}
.box-2 .link { margin-top: 16px;}
.block-6 blockquote { margin-top: 6px;}
.b-dropcap {}
.dropcap { float: left; margin-right: 20px; margin-top: 7px; color: #fff; display: inline-block; text-align: center; line-height: 47px; width: 49px; height: 49px; font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px; background: #f45959; padding-left: 4px; -webkit-border-radius: 500px; -moz-border-radius: 500px; -ms-border-radius: 500px; -o-border-radius: 500px; border-radius: 500px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
.dropcap + div { overflow: hidden;}
.b-dropcap > div + div { margin-top: 28px;}
.block-4 i { color: #e7e7e7; font-size: 50px;}
.block-4 i + h2 { padding-top: 36px; tom: 30px;}
.block-4 > div > div { padding-top: 47px;}
.block-4 h2 + div, .block-4 h2 + div + div { width: 99%;}
.block-4 .link { margin-top: 34px;}
.block-4 { tom: 69px;}
.block-5 { margin-top: 8px;}
.block-5 > div + div { margin-top: 37px;}
header { display: block;}
section { display: block;}
/************Footer************/



footer { background: #585858 url(../images/bg-2.png) 0 0 repeat-x; font-size: 10px; line-height: 24px; font-weight: bold; text-transform: uppercase; tom: 40px; display: block; width: 100%; float: left; margin-top:30px;}
footer .fright { float: right !important;}
.f-top { padding-top: 66px;}
.list-services { margin-top: 3px; position: relative;}
.list-services li { display: inline-block; line-height: 39px;}
.list-services a { display: inline-block; color: #7f7f7f; font-size: 39px; line-height: 39px; text-decoration: none; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out; margin-left: 0px;}
.list-services a i { width: 34px; height: 34px; line-height: 39px; padding-top: 0; margin-top: 0;}
.list-services a:hover { color: #f45959;}
.logo { display: inline-block; font-family: 'Damion', cursive; font-size: 35px; line-height: 35px; color: #fff; letter-spacing: -1px; text-transform: none; font-weight: normal;}
.box-3 > div { position: relative; padding-left: 22px; tom: 20px;}
.box-3 i { position: absolute; left: 0; top: 0; font-size: 14px; line-height: 24px; color: #f45959; display: inline-block;}
.icon-rss-sign:before { content: "\f143";}
.copyright { color: #989898; font-size: 10px; margin-top: -2px; font-weight: bold; padding-left: 3px;}
.f-text-1 { text-transform: none; font-size: 14px; line-height: 31px; font-weight: normal; display: block;}
.block-3 .link { margin-top: 21px;}
.block-3 > div + div { margin-top: 37px; margin-bottom: 27px;}
/*toTop*/



#toTop { display: none; text-decoration: none; position: fixed; cursor: pointer; overflow: hidden; width: 52px; height: 52px; border: none; text-indent: -999px; z-index: 20; background: url(../images/ui.totop.png) 0 0 no-repeat; margin-right: -670px !important; right: 50%; bottom: 20px;}
#toTop:hover { background: url(../images/ui.totop.png) 0 bottom no-repeat;}
#toTop:active, #toTop:focus { outline: none;}
.customLi * { box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; margin-bottom:5px;}
.customLi li { background: url(../images/li_bg.jpg) no-repeat left 7px; padding: 0 0 0 18px;}
h1 a img[src*="images/logo.png"] { margin: 15px 0 0 0;}
.sn_logo { width: 60%;}
ul.blogLinks.customLi {float: left; width: 100%;}
.sn_logo h1 { clear: both;}
.right_go { width: 100%; float: left; text-align: right;}
.tagLine { width: 100%; float: left; text-align: justify;}
.some_big_f { float: left; font-size: 16px; margin-top: 130px;}
.quotes ul li { color: #9e9e9e !important; font: 15px/24px Arial, sans-serif;}
.quovolve-box { position: relative; width: 100%;}
.quovolve-nav.quovolve-nav-above { position: absolute; right: 0; top: -20px; width: 50px;}
.quovolve-nav span a { color: rgba(51,51,51,.0);}
.quovolve-nav span.nav-prev a { background: url("../images/arrow-1.png") no-repeat center center; display: block; float: left; width: 20px;}
.quovolve-nav span.nav-next a { background: url("../images/arrow-2.png") no-repeat center center; display: block; float: left; width: 20px;}
.san_bl h2 { font-size: 19px;}
.cust_head { font-size: 28px; line-height: normal;}
.quote_s { color: #6cbfdf; font-size: 35px;}
.do_one { font-size: 25px !important; tom: 0; padding-top: 12px !important;}
.li_point { margin: 10px 0; float: left;}
.li_point li { float: left; list-style:disc outside none; margin: 0 0 0 1%; width: 99%;} 
.pCustom { width: 100%; float: left; padding: 0; margin: 8px 0 0 0;}
.manifestation h2.v1 {display: block; float: left; width:100%; font-weight:normal; padding:0; margin:30px 0;}
.wrap_text{width:100%; float:left;}
.wrap_text ul.one_li{width:100%; float:left; list-style:none; padding:0; margin:0 0 25px 0;}
.wrap_text ul.one_li > li{float:left; list-style:none; display:block;}
.wrap_text ul.one_li > li:nth-of-type(odd){ margin-right:30px; width:100px;}
.wrap_text ul.one_li > li:nth-of-type(even){ clear:right;} 
.clear{clear:both;}
.manifestation p{width:100%; float:left; margin:0; padding:0 0 12px 0;}
.teo_ul{width:100%; float:left; margin:0 0 25px 0;}
.teo_ul li{line-height: 28px; list-style: circle outside none; margin: 0 0 0 20px;}
.teo_ulOL li{list-style:decimal;}
.pay_btn{background:#6cbfdf; color: #fff; display: block; float: right; padding: 5px 15px; margin-left:20px;}
.pay_btn:hover{background:#5E6365}
.blog_des > a:first-child img{display:none;}
.blog_wrap .fullBnnr img[src=""]{display:none;}
.wrap_inner .page-header{width:100%; float:left;}
.wrap_inner .page-header h1{width:100%; float:left; margin-bottom:15px;}
.full_width_wrap{width:100%; float:left; margin:10px 0;}
.one_li h3{width:100%; float:left; margin:8px 0; padding:0; font-weight:normal;}
.contact_frm{width:100%; float:left;}
.con_form{width:50%; float:left; display:block;}
.con_form *{ box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}
.con_form h2{width:100%; float:left; display:block; padding:0; margin:0 0 15px 0; font-weight:normal; font-size:19px; color:#7d7d7d;}
.full_formW{width:100%; float:left; margin-bottom:12px;}
.full_formW input{width:100%; float:left; color: #c3c3c3; cursor: text; display: block; font: 13px/18px Arial,sans-serif; left: 0;padding: 8px 7px 8px 16px; border:1px solid;}
.full_formW textarea{width:100%; float:left; color: #c3c3c3; cursor: text; display: block; font: 13px/18px Arial,sans-serif; left: 0;padding: 8px 7px 8px 16px; border:1px solid; resize:none; height:80px;}
.full_formW button{padding:6px 0; text-align:center; font-size:14px; background:#6cbfdf; border:none; color:#fff; width:120px;}
.banner_img{width:60%; float:left;}
.banner_img img{width:90%;}
#banner_text{width:40%; float:left; padding:190px 0 0 0;}
@media only screen and (max-width: 995px) {
div.phone { float: none; padding-top: 40px;}
.camera_wrap { height: 497px;}
.camera_next { right: 10px;}
.camera_prev { right: 42px;}
.s-text-1 { font-size: 60px; line-height: 60px;}
.s-btn { font-size: 14px !important; padding: 14px 0 !important; width:100%; float:left; text-align:center;}
#banner_text{padding: 130px 0 0;}
.img-ind + div > h2 { width: 100%;}
.list-1 li a { margin-right: 5px;}
.block-6 blockquote + .text-1 { margin-bottom: 30px;}}
 @media only screen and (max-width: 767px) {
.w1 { width: 50%;}
div.phone { float: left; width: 100px; padding-top: 0;}
h1 { margin-bottom: 30px;}
form.search { margin-top: 0;}
.camera_wrap { height: 279px;}
.camera_prev, .camera_next { top: auto; bottom: 10px;}
.camera_caption { top: 20px;}
.s-text-1 { font-size: 20px; line-height: 20px; letter-spacing: 0;}
.s-text-2 { display: none;}
.s-btn { font-size: 15px !important; line-height: 15px !important; font-weight: normal !important; padding: 10px 10px !important; margin-top: 20px !important;}
.box-1 h2 br { display: none;}
.box-1 i { float: left; margin-top: 23px; margin-right: 20px;}
.block-1 { tom: 60px;}
.block-4 i { float: left; margin-top: 33px; margin-right: 20px;}
h1:after { bottom: -11px;}
.sn_logo{width:100%; margin-bottom:20px;}
.banner_img{width:100%;}
.banner_img img{width:100%;}
#banner_text { padding: 20px 0 0; width: 100%;}
#banner_text *{box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; float: left; font-size: 25px; text-align: center; width: 100%;}
#banner_text .s-text-2{display:block !important;}
#banner_text .s-text-1{margin-bottom:20px; display:block !important;}
ul.blogLinks.customLi + a {float: left; width: 100%;}
.some_big_f{margin-top: 60px;}
.con_form{width:100%;}
.pay_btn{margin-left: 8px; padding: 5px 10px;}
.full_formW button{width:100%;}
}
 @media only screen and (max-width: 479px) {
div.phone { margin-top: 0; margin-bottom: 40px;}
.camera_wrap { height: 199px;}
.s-text-1 { display: none;}
.w1 { width: 40%;}
footer .list-1 { display: none;}
footer .logo { margin-top: 0;}}
 @media only screen and (max-width: 320px) {}
