nav { 
	float: right;
	position:relative; 
	z-index: 11;
	min-height: 146px;
}

.sf-menu {margin-top: 48px; margin-bottom: 1px;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li { 
	position:relative;
	padding-left: 0px;
}
.sf-menu > li {float: left; }
	.sf-menu a {
		display: block;
		font-family: 'Open Sans', sans-serif;
		color: #fff;
		text-decoration: none;
		-moz-transition: color 0.3s ease-out;
	    -o-transition: color 0.3s ease-out;
	    -webkit-transition: color 0.3s ease-out;
	    text-align: center;
	}
		.sf-menu a:hover {text-decoration: none;}

/*================================>> 1 Level <<========================================*/

.sf-menu > li > a {
	display: inline-block;
	font-size: 10px;
    line-height: 10px;
    position: relative;
    color: #d1d1d1;
    text-transform: uppercase;
}
.sf-menu > li {
	display: block;
	position: relative;
    
	padding-left: 12px;
	padding-right: 10px;
}
.sf-menu > li:first-child {
	padding-left: 0;
}
	.sf-menu > li.current,
	.sf-menu > li:hover,
	.sf-menu > li.sfHover {	}

	.sf-menu > li > a:hover, 
	.sf-menu > li.current > a, 
	.sf-menu > li.sfHover > a {
		color: #3f3f3f;
	}
	.sf-menu > li > a > .sf-sub-indicator {
		position: absolute;
		display: inline-block;
		top: 0px;
		right: -10px;
		overflow: hidden;
		line-height: 10px;
		font-size: 10px;
	}



/*================================>> 2 Level <<========================================*/
.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	left: 5px;
	top: 25px;
	width: 189px;
	z-index:99;
	background: #f45959;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 42px;
}
.sf-menu > li > ul:after {
	position: absolute;
	content: "";
	top: -8px;
	width: 0;
	height: 0;
	left: 22px;
	/* margin-left: -7px; */
	border: 4px solid;
	border-color: transparent transparent #f45959 transparent;
}
.sf-menu > li > ul > li { padding: 0px 15px; margin-top: -5px;}

.sf-menu > li > ul > li > a {
	display: block;
	font-size:10px;
	line-height: 10px;
	text-align: left;
	text-transform: uppercase;
	/*font-weight: bold;*/
	color: #fff;
	padding: 11px 0px 9px 11px;
}
.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a,
.sf-menu li li:hover span,
.sf-menu li.sfHover li.sfHover span { 
	text-decoration: none;
	background: #ff9191;
}
/*.sf-menu li li:hover, */
.sf-menu li.sfHover li.sfHover { }
.sf-menu li.sfHover span { }

/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	left: 142px;
	top: -8px;
	width: 129px;
	z-index:99;
	background: #7ecefd;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
}
.sf-menu li li ul:after {
	content: "";
	position: absolute;
	width: 11px;
	height: 14px;
	background: url(../images/arrow-2.png) 0 0 no-repeat;
	left: -11px;
	top: 9px;
}
.sf-menu li li li {padding: 2px 0;}
.sf-menu li li li a {
	display: inline;
	font-size:12px;
	line-height: 12px;
	text-align: center;
	text-transform: uppercase;
}
.sf-menu li li li:first-child a { border-top: 0px;}
.sf-menu li li li:hover {}
	.sf-menu li li li:hover a {	color: #3a3a3a;}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu > li { padding-left: 0px;}
	nav {margin-top: 0px;}
	.sf-menu > li > a > .sf-sub-indicator { right: -6px;}

}

@media only screen and (max-width: 767px) {
	.sf-menu { display:none; }
	nav select {
		height: 32px;
		border: 1px solid #efefef;
		font-family: Arial, sans-serif;
		font-size: 10px;
		line-height: 10px;
		color: #535353;
		background-color: #fff;
		width:100%;
	    outline: none;
	    padding: 5px;
		font-weight: normal;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	nav select option:first-child {
		color:#ffffff;
	}
	header nav {	float: none;}
}

@media only screen and (max-width: 479px) {

}